body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: white;
  font-family: "proxima-nova", "Source Sans Pro", sans-serif !important;
  font-size: 1em;
  letter-spacing: 0.1px;
  color: #32465a;
  text-rendering: optimizeLegibility;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -webkit-font-smoothing: antialiased;
}

/* Format topbar */
.topbar{
background-color: black;
height: 80px;
position: fixed;
top: 0%;
width: 100%;
z-index:999999;
}
.topbar #deloitte-img{
width: 240px;
  margin-top: -10px;
}
.topbar h1{
  color: white;
  font-size: 45px;
  position: absolute;
  font-weight: bold;
  top: 0%;
  width: 100%;
  text-align: center;
  padding-top: 1%;
  margin:0px;
}

/* mainbody */

#mainbody{
  width:30%;
  padding-bottom:10%;
}

/* Contact button  */
#help-button{
	height: 30px;
	width: 120px;
	font-weight: bold;
	border-radius: 8px;
	border: none;
	opacity: 0.8;
	transition: 0.3s;
	box-shadow: 2px 2px #666;
	background-color:#bbbbbb;
}

/* Button section */
#download_button{
	height: 30px;
	width: 120px;
	font-weight: bold;
	border-radius: 8px;
	border: none;
	opacity: 0.8;
	transition: 0.3s;
  box-shadow: 2px 2px #666; 
  background-color:#86bc24;
}

button:hover {
	background-color: #e7e7e7 !important ; 
	opacity:1;
}
button:active {
  transform: translateY(2px);
}

/* hosted by  */
#hosted{
  color:#bbbbbb;
  font-style: italic;
  font-size: 15px;
  margin-top:20px;
}

/* version  */
#version{
  color:#bbbbbb;
  font-style: italic;
  font-size: 12px;
}  
